# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
./outputs/*
./mlruns/*
mlruns/*
runs/*
data/EC/*
data/TP/*
data/TP2/*
data/TP3_hand/*
Demo_Video/*
data/weight/*
*.pt
test/2.jpg
test/4.jpg
test/6.jpg
test/8.jpg
test/10.jpg
test/12.jpg
test/14.jpg
test/16.jpg
test/18.jpg
test/20.jpg
test/22.jpg
test/24.jpg
test/26.jpg
test/28.jpg
test/30.jpg
test/32.jpg
test/34.jpg
test/36.jpg
test/38.jpg
test/40.jpg
test/42.jpg
test/44.jpg
test/46.jpg
test/48.jpg
test/50.jpg
test/52.jpg
test/54.jpg
test/56.jpg
test/58.jpg
test/60.jpg
test/62.jpg
test/64.jpg
test/66.jpg
test/68.jpg
test/70.jpg
test/72.jpg
test/74.jpg
test/76.jpg
test/78.jpg
test/80.jpg
test/82.jpg
test/84.jpg
test/86.jpg
test/88.jpg
test/90.jpg
test/92.jpg
test/94.jpg
test/96.jpg
test/98.jpg
test/100.jpg
test/102.jpg
test/104.jpg
test/106.jpg
test/108.jpg
test/110.jpg
test/112.jpg
test/114.jpg
test/116.jpg
test/118.jpg
test/120.jpg
test/122.jpg
test/124.jpg
test/126.jpg
test/128.jpg
test/130.jpg
test/132.jpg
test/134.jpg
test/136.jpg
test/138.jpg
test/140.jpg
test/142.jpg
test/144.jpg
test/146.jpg
test/148.jpg
test/150.jpg
test/152.jpg
test/154.jpg
test/156.jpg
test/158.jpg
test/160.jpg
test/162.jpg
test/164.jpg
test/166.jpg
test/168.jpg
test/170.jpg
test/172.jpg
test/174.jpg
test/176.jpg
test/178.jpg
test/180.jpg
test/182.jpg
test/184.jpg
test/186.jpg
test/188.jpg
test/190.jpg
test/192.jpg
test/194.jpg
test/196.jpg
test/198.jpg
test/200.jpg
test/202.jpg
test/204.jpg
test/206.jpg
test/208.jpg
test/210.jpg
test/212.jpg
test/214.jpg
test/216.jpg
test/218.jpg
test/220.jpg
test/222.jpg
test/224.jpg
test/226.jpg
test/228.jpg
test/230.jpg
test/232.jpg
test/234.jpg
test/236.jpg
test/238.jpg
test/240.jpg
test/242.jpg
test/244.jpg
test/246.jpg
test/248.jpg
test/250.jpg
test/252.jpg
test/254.jpg
test/256.jpg
test/258.jpg
test/260.jpg
test/262.jpg
test/264.jpg
test/266.jpg
test/268.jpg
test/270.jpg
test/272.jpg
test/274.jpg
test/276.jpg
test/278.jpg
test/280.jpg
test/282.jpg
test/284.jpg
test/286.jpg
test/288.jpg
test/290.jpg
test/292.jpg
test/294.jpg
test/296.jpg
test/298.jpg
test/300.jpg
test/302.jpg
test/304.jpg
test/306.jpg
test/308.jpg
test/310.jpg
test/312.jpg
test/314.jpg
test/316.jpg
test/318.jpg
test/320.jpg
test/322.jpg
test/324.jpg
test/326.jpg
test/328.jpg
test/330.jpg
test/332.jpg
test/334.jpg
test/336.jpg
test/338.jpg
test/340.jpg
test/342.jpg
test/344.jpg
test/346.jpg
test/348.jpg
test/350.jpg
test/352.jpg
test/354.jpg
test/356.jpg
test/358.jpg
test/360.jpg
test/362.jpg
test/364.jpg
test/366.jpg
test/368.jpg
test/370.jpg
test/372.jpg
test/374.jpg
test/376.jpg
test/378.jpg
test/380.jpg
test/382.jpg
test/384.jpg
test/386.jpg
test/388.jpg
test/390.jpg
test/392.jpg
test/394.jpg
test/396.jpg
test/398.jpg
test/400.jpg
test/*
